.itinerary-reaction-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.double-reaction-container{
    display: flex;
}
.reaction-image{
    height: 25px;
    margin: 10px;
    transition: 350ms ease-in-out;
    cursor: pointer;
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
}

.reaction-image:hover {
    transform: scale(1.2);
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-2px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-2px); }
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}
.contador{
    margin-left: 19px;
}

@media (max-width: 430px) {
    .itinerary-reaction-container{
        flex-direction: row;
    }
  }