.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    padding: 100px;
    z-index: 1000;
    min-height: 40%;
}

.modal-title {
    text-align: center;
    font-weight: bold;
    letter-spacing: 3px;
}

.overlay-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
    z-index: 1;
}

.modal-button{
    position: absolute;
    top: 0;
    right: 0;
    background: firebrick;
    padding: 5px;
    color: white;
}

.edit-form-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input{
    height: 30px;
}