* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .total {
    width: 100%;
    height: 100vh;
  }

  .P80 {
    width: 80%;
    height: 80vh;
  }

  .bg-img {
    background-image: url(https://images.photowall.com/products/44351/island-paradise.jpg?h=699&q=85);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 90%;
  }
  
  .shadow {
    color: #FFFFFF;
    text-shadow: 1px 3px 0 #3d3939, 1px 13px 5px #aba8a8; 
  }

  .bt-CallToAction {
    padding: 8px;
    font-size: larger;
    min-width: 280px;
  }

  .h-100 {
    height: 100vh;
  }

  .w-100 {
    width: 100%;
  }

  .w-50{
    width: 50%;
  }


  .flex {
    display: flex;
  }

  .flex-column {
    flex-direction: column;
  }
  
  .j-center {
    justify-content: center;
  }

  .rr {
    flex-direction: row-reverse;
  }
  
  .a-center {
    align-items: center;
  }

  .a-end {
    align-items: flex-end;
  }
  
  .white {
    color: black;
    background-color: white;
  }
  
  .black {
    color: white;
    background-color: black;
  }
  
  .gray {
    color: black;
    background-color: gray;
  }
  
  .gray:hover {
    background-color: whitesmoke
  }
  
  .r25 {
    margin-right: 2.5px;
  }
  
  .l25 {
    margin-left: 2.5px;
  }

  .w25 {
    width: 25%;
  }
  
  .w50 {
   width: 50%;
  }

  .w75 {
    width: 75%;
   }

   .mt-10 {
    margin-top: 22%;
   }
  
  .titulo {
    padding: 10px;
  }
  
  .photo {
    width: 100%;
    margin-top: 10px;
  }
 
  .grow {
   flex-grow: 1;
  }

  .f-s-big {
    font-size:400%;
  }

  .j-end {
    justify-content: end;
  }

  .g-25{
    gap:25px
  }

  .t-a-center {
    text-align: center;
  }
  
  @media (max-width: 425 ) {
  
    .title {
      width: 100vw;
      text-align: center;
      font-size: small;
    }
    
    .dropdown1 {
      width: 40%;
    }
  
    .dropdown2 {
      width: 40%;
      
    }

    .navegation{
      width: 60%;
      margin: 5px;
      background: #fff;
    }
    
    .NavBar {
    flex-direction: row;
    flex-wrap: wrap;
    
    }
  }