*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background: #313D52;
  color: #fff;
}

header{
	width: 100%;
}

.title {
  text-align: center;
  color: #FFFFFF;
  text-shadow: 1px 3px 0 #3d3939, 1px 13px 5px #aba8a8; 
  font-size:200%;
}

.navegation{
	width: 100px!important;
  height:100px;
  margin-right: 20px;
	margin-bottom: 30px;
	background: #fff;

}

.navegation ul{
	list-style: none;
}

/* .dNone{
  display: none;
} */

.menu > li{
	position: relative;
	display: inline-block;
  width: 100px;
}

.menu > li > p{
	display: block;
	padding: 15px 20px;
	color: #353535;
	font-family: 'Open sans';
	text-decoration: none;
}

.menu li p:hover{
	color: #CE7D35;
	transition: all .3s;
}

.submenu{
	position: absolute;
	width: 100%;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1.5s;
}

.submenu li button{
	display: block;
	padding: 15px;
	color: #313D52;
	font-family: 'Open sans';
	text-decoration: none;
  min-width: 100px;
}

.menu li:hover .submenu{
	visibility: visible;
	opacity: 1;
}


.NavBar {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 24vh;
  align-items:center ;
  background: rgb(43,75,157);
  background: linear-gradient(0deg, rgba(123, 151, 220, 0.404) 0%, hwb(44 31% 1% / 0.9) 40%);
}


.NavBar :nth-child(1) { order: 1; }
.NavBar :nth-child(2) { order: 2; }
.NavBar :nth-child(3) { order: 3; }

@media (max-width: 425px) {
  .NavBar :nth-child(1) { order: 2; }
  .NavBar :nth-child(2) { order: 1; }
  .NavBar :nth-child(3) { order: 3; }

  .title {
    width: 100vw;
    text-align: center;
    font-size: small;
    margin-top: -20% ;
  }
  
  .dropdown1 {
    width: 40%;
    margin-top: -48%;
  }

  .dropdown2 {
    width: 40%;
    margin-top: -48%;
  }
  .navegation{
    width: 100px!important;
    margin: 5px;
    background: #fff;
  }
  
  .NavBar {
  flex-direction: row;
  flex-wrap: wrap;
  
  }
}