*,
*::after,
*::before{
  margin: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
  /* color: aqua; */
  color: grey;
}
.nav{
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 8vh;
  background: rgb(21, 20, 28);
}
.nav_brand-select{
  font-weight: bold;
  width: 10rem;
  text-align: center;
  font-size: 17px;
  background-color: rgb(21, 20, 28);
  color: aqua; 
  border: solid rgb(21, 20, 28);
  border-radius: 10px;
}


.nav_menu{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
}
.nav_toggler div{
  width: 2.5rem;
  height: 0.2rem;
  margin: 0.4rem;
  background: rgb(21, 20, 28);
  transition: .4s ease-in;
}
.nav_toggler{
  cursor: pointer;
  display: none;
}
@media screen and (max-width:768px) {
  .nav_toggler{
    display: block;
  }
  .nav_menu{
    position: fixed;
    top: 7vh;
    right: 0;
    width: 50%;
    height: 93vh;
    background-color: rgb(21, 20, 28);
    flex-direction: column;
    transform: translateX(100%);
    transition: 0.4s ease-in;
    justify-content: space-around;
  }
  .nav_toggler .line1{
    background-color: aqua;
  }
  .nav_toggler .line2{
    background-color: aqua;
  }
  .nav_toggler .line3{
    background-color: aqua;
  }
}
.nav_active{
  transform: translateX(0);
}

.toggle .line1{
  transform: rotate(-45deg) translate(-4px, 5px);
}

.toggle .line2{
  opacity: 0;
}

.toggle .line3{
  transform: rotate(45deg) translate(-4px, -5px);
}

/* ------------------------------------------------------------------------ */

.link {
  position: relative;
  display: block;
  text-transform: none!important;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  font-size: 15px!important;
  cursor: pointer;
  width: fit-content;
  margin: 0!important;
  z-index: 0;
  transition: all 450ms ease;
}
.link::after, .link::before {
  content: "";
  display: block;
  position: absolute;
  transition: width 540ms, opacity 300ms ease;
}
